<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="keySize" value="128"/>
    <add key="interations" value="1000"/>
    <add key="ivLenght" value="8"/>
    <add key="saltLenght" value="8"/>
    <add key="password" value="123456"/>    
  </appSettings>
</configuration>